.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
.container{
  height: 500px;
  width: 700px;
  border: 2px solid rgb(0, 94, 255);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row{
 height: 100px;
 width: 650px;
 margin-bottom: 20px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.row1{
  position: relative;
}
.row1 input{
  width: 300px;
  padding: 5px 0;
  font-size: 16px;
  color: rgb(0, 94, 255);
  border: none;
  border-bottom: 1px solid rgb(0, 94, 255);
  outline: none;
  background: transparent;
}
.row1 label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 18px;
  color: rgb(0, 94, 255);
  pointer-events: none;
  transition: .5s;
}

.row1 input:focus ~ label,
.row1 input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(0, 145, 255);
  font-size: 12px;
}
.row2{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row2 button{
  background-color: rgb(0, 94, 255);
  color: white;

  padding: 20px 45px;
  border: 3px solid rgb(0, 94, 255); 
  border-radius: 30px;
  font-weight: 600;
}
.row2 button:hover{
  background:transparent;
  color: rgb(0, 94, 255);
  border: 3px solid rgb(0, 94, 255); 

}