<section>
<link rel="stylesheet" href="/stylesheets/groundbook.css">
<form method="post" action="/bookground/{{ground}}">
  <div class="main">
        <div class="container">
            <div class="row">
                <div class="row1">
                    <input type="text" name="team1">
                    <label>Team1</label>
                </div>
                <div class="row1">
                    <input type="text" name="team2">
                    <label>Team2</label>
                </div>                
            </div>
            <div class="row">
                <div class="row1">
                    <input type="date" name="date">
                    <label>Date</label>
                </div>
                <div class="row1">
                    <input type="time" name="start">
                    <label>Starting Time</label>
                </div>                
            </div>
            <div class="row">
                <div class="row1">
                    <input type="time" name="end">
                    <label>Ending Time</label>
                </div>
                <div class="row1">
                    <input type="category" name="det">
                    <label>Match Catagory</label>
                </div>
               
            </div>
            <div class="row2">
                <button type="submit">Submit</button>
            </div> 
        </div>
    </div>
</form>
</section>