<section>
  <link rel='stylesheet' href='/stylesheets/style.css' />
      <div class="login-box">
        <h2>CLUB REGISTRATION</h2>
    <form action="/clubreg" method="post">
      <div class="user-box">
        <input type="text" name="Club_Name" id="name" required/>
        <label>CLUB NAME</label>
      </div>
      <div class="user-box">
        <input type="text" name="Uname" required/>
        <label>USERNAME</label>
      </div>
      
      <div class="user-box">
        <input type="password" name="Password" required/>
        <label>PASSWORD</label>
      </div>
      <div class="user-box">
        <input type="text" name="Catagory" required/>
        <label>SPORTS CATEGORY</label>
      </div>
      <div class="user-box">
        <input type="text" name="Address" required/>
        <label>ADDRESS</label>
      </div>
      <div class="user-box">
        <input type="text" name="District" required/>
        <label>DISTRICT</label>
      </div>
      <div class="user-box">
        <input type="text" name="cContact_Number" required/>
        <label>CONTACT NUMBER</label>
      </div>
      <div class="user-box">
        <input type="email" name="Email" required/>
        <label>EMAIL_ID</label>
      </div>
      
      <button type="submit">
      
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          REGISTER
      
      </button><br>
      
      
          <a href="/clublog">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          BACK TO LOGIN</a>    
      </form>
    </div>
</section>