<link rel='stylesheet' href='/stylesheets/style.css' />
      <div class="login-box">
        <h2> COACH REGISTRATION</h2>
    <form action="/coachreg" method="post">
      <div class="user-box">
        <input type="text" name="Name" id="name" required/>
        <label>Name</label>
      </div>

      
      <div class="user-box">
        <input type="password" name="Password" required/>
        <label>Password</label>
      </div>
      <div class="div2">
        <label class="text-color">Gender</label><br><br>
        <input type="radio" name="Gender" required/>
        <label class="text-color">Male</label>
        <input type="radio" name="Gender" required>
        <label class="text-color">Female</label>
        <input type="radio" name="Gender" required>
        <label class="text-color">Other</label>
        
      </div>
      <div class="user-box">
        <input type="date" name="DOB" required/>
        <label></label>
      </div>
      <div class="user-box">
        <input type="email" name="Email" required/>
        <label>Email</label>
      </div>
      <button type="submit">
      
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        REGISTER
    
    </button><br>
          <a href="/coachlog">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          Login</a>    
      </form>
    </div>
