<link rel='stylesheet' href='/stylesheets/style.css' />
      <div class="login-box">
        <h2>SPORTS CLUB AND PLAYERS MANAGEMENT SYSYTEM</h2>
    <form>
        
    <center>
        <a href="/adminlog">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          ADMIN
        </a> 
      </center>
    <center>
          <a href="/clublog">
           <span></span>
           <span></span>
           <span></span>
           <span></span>
         SPORTS CLUB
         </a> 
     
        </center>
      <center>
          <a href="/playerlog">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          INDIVIDUAL PLAYER
        </a> 
      </center>
    <center>
          <a href="/coachlog">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          COACH
        </a>
      </center>
    <center>

        <a href="/userlog">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          RANDOM USER</a>
        </center>

      </form>
    </div>


