<link rel='stylesheet' href='/stylesheets/header.css' />
<header>
    <nav class="navbar navbar-expand-lg ">
 
        

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text" href="/shopping">Go to sports Items<span class="sr-only"></span></a>
                </li>
                
            </ul>
            
        </div>
    </nav>
</header>
    <link rel='stylesheet' href='/stylesheets/events.css' />
    <div class="main">
        <div class="container">
            <div class="row1">
                
            </div>
            <div class="row2">
                <a href="" >Book Tickets</a>
            </div>
        </div>

    </div>