<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center text">Add Ground</h2>
                <form method="POST"  action="/admin/add-ground">
                    <span class="text">Ground Name</span>
                    <input type="text" name="GroundName" class="form-control">
                    
                    <span class="text">Address</span>
                    <input type="text" name="GroundAddress" class="form-control">
                    
                    <span class="text">District</span>
                    <input type="text" name="District" class="form-control">
                    
                    <span class="text">Sub-District</span>
                    <input type="text" name="SubDistrict" class="form-control">

                    <span class="text">Pincode</span>
                    <input type="text" name="Pincode" class="form-control">

                    <span class="text">Contact Number</span>
                    <input type="text" name="ContactNumber" class="form-control">

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>