<section>
 <link rel='stylesheet' href='/stylesheets/admin.css' />
    <div class="admin-container">
      <div class="admin-main">
         <a href="/admin/grounds">
          Grounds
         </a>
         <a href="/admin/shopping">
          Shopping
         </a>
         <a href="/admin/view-photos">
           Photos
         </a>

        
      </div>
    </div>

</section>